<!-- calling template -->
{% extends "Layout/layout.html" %}


{% block _content_ %}
<h3>Generate room</h3>

    <section class="media content-section">
        <div class="media-body">
            <div class="section-metadata">
                <a class="links" ></a>
                <small class="text-muted"></small>
            </div>

            <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
            <div class="message_holder"></div>

            <form action="" method="POST">
                <input type="text" class="message" placeholder="Messages"/>
                <input type="submit"/>
            </form>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
            <script type="text/javascript">
                var socket = io.connect('http://' + document.domain + ':' + location.port);
                socket.on( 'connect', function() {
                    
                    var form = $( 'form' ).on( 'submit', function( e ) {
                        e.preventDefault()
                        let user_input = $( 'input.message' ).val()
                        socket.emit( 'ActionHappened', {
                            message : user_input
                        } )
                        $( 'input.message' ).val( '' ).focus()
                    } )
                } )





                socket.on( 'ActionResponse', function( msg ) {
                    console.log( msg )
                    if( typeof msg.user_name !== 'undefined' ) {
                        $( 'h3' ).remove()
                        $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
                    }
                })

                socket.on( 'AreYouAlive', function() {
                    socket.emit( 'IAmAlive')
                })

            </script>

            

        </div>
    </section>
{% endblock _content_ %}