<!-- calling template -->
{% extends "layout/layout.html" %}


{% block _content_ %}


    <section class="media content-section">
        <div class="media-body">
            <div class="section-metadata">
                <a class="links" ></a>
                <small class="text-muted"></small>
            </div>

            <h3  id='noMessageText' style='color: #ccc;font-size: 30px;'>No response yet...</h3>
            <div class="userDisplay"></div>

            <form id='commandForm' style="display: none;" action="" method="POST">
                <input type="text" class="message" placeholder="Command"/>
                <input type="submit"/>
            </form>


            <div id='rightButtons' style="position: relative; float: right;" ><button id='voteToStartBtn' onclick="userButtonAction('VoteToStart')">Vote to start</button></div>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
            <script type="text/javascript">
                function getCookie(cname) {
                    var name = cname + "=";
                    var decodedCookie = decodeURIComponent(document.cookie);
                    var ca = decodedCookie.split(';');
                    for(var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                }
                var currentRoom = (window.location.pathname).substr(6);
                var userID = getCookie("userID")
                var userName = getCookie("username")
                console.log(window.location.origin)

                //var socket = io.connect('http://' + document.domain + ':' + location.port);
                var socket = io.connect(window.location.origin)

                socket.on( 'connect', function() {
                    socket.emit( 'registerToRoom', {
                        roomID: currentRoom,
                        userID: userID
                        } )


                    var form = $( 'form' ).on( 'submit', function( e ) {
                        e.preventDefault()
                        let user_input = $( 'input.message' ).val()
                        socket.emit( 'ActionHappened', {
                            message : user_input,
                            roomID: currentRoom,
                            userID: userID
                        } )
                        $( 'input.message' ).val( '' ).focus()
                    } )
                } )

                function userButtonAction(action) {
                    socket.emit('userAction',{
                        action: action,
                        roomID: currentRoom,
                        userID: userID
                    })
                }



                socket.on( 'MessageResponse', function( msg ) {
                    console.log( msg )
                    if( typeof msg.user_name !== 'undefined' ) {
                        //$( 'h3' ).remove()
                        document.getElementById('noMessageText').style.display = "none";
                        $( 'div.userDisplay' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
                        window.scrollTo(0,document.body.scrollHeight);
                    }
                })

                socket.on( 'AreYouAlive', function() {
                    socket.emit( 'IAmAlive')
                })

                socket.on( 'startGame', function() {
                    console.log('Game will start')
                    {
                        //$( 'h3' ).remove()
                        document.getElementById('noMessageText').style.display = "none";
                        $( 'div.userDisplay' ).append( '<div><b style="color: #000">'+'Server'+'</b> '+'Game is starting!!'+'</div>' )
                    }
                    {
                        document.getElementById('voteToStartBtn').remove();
                        document.getElementById('commandForm').style.display = "block"
                    }
                })

                socket.on( 'ReloadPage', function() {
                    console.log('yeet')
                    location.reload();
                })
            </script>
        </div>
    </section>




{% endblock _content_ %}
